 /* @font-face {
    font-family: Poppins;
    src: url();
}  */

 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Lobster Two;
} */

 :root {
     --font-poppins: 'Poppins', sans-serif;
     --font-lobster: 'Lobster Two', sans-serif;
 }

 .font-poppins {
    font-family: var(--font-poppins);
 }


 .font-lobster {
    font-family: var(--font-lobster);
    font-weight: 700;
    color: #EB0029 !important;
 }

 .box-image {
    background-image:url(/challengeFiap/ChallengeFiap/src/images/vector1_hero.svg), url(/challengeFiap/ChallengeFiap/src/images/fundo_hero.svg);
    background-repeat: no-repeat;
 }

 /* .container .navbar-toggler {
     box-shadow: none;
     border-color: #EB0029;
 }


 .hero {
     width: 100%;
     height: 100vh;
 }

 .box-image-vector {
     display: flex;
     justify-content: center;
 }


 .image-vector {
     position: absolute;
 }

 .hero-header {
     display: flex;
     padding: 50px;
     gap: 150px;
 }

 .box-main {
     display: flex;

 }

 .box-service {
     display: flex;
     flex-direction: row;
     gap: 50px;
     justify-content: center;
 }

 .box-service select {
     border: none;
     color: #EB0029;
 }

 .box-text {
     width: 50%;
     padding: 40px;
     margin-left: 20px;
 }

 .text-one {
     font-size: 62px;
     line-height: 85px;
 }

 .image {
     width: 50%;
     display: flex;
     background-image: url(/challengeFiap/ChallengeFiap/src/images/fundo_hero.svg);
     background-repeat: no-repeat;

 }

 .image-dish {
     padding-left: 100px;

 }

 .button-go {
     width: 181px;
     height: 67px;
     gap: 29px;
     border: 1px solid;
     border-radius: 50px;
     background: #EB0029;
     padding: 11px, 20px, 11px, 20px;
     color: #fff;
     border-color: #fff;
 } */